.m-layout-container {
    width: 100vw;
    height: 100vh;
}

.m-layout-header {
    .log {
        width: 40px;
        height: 40px;
    }
    .title {
        font-size: 20px;
    }
}
.m-layout-sider {
    .ant-layout-sider-children {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sider-menus {
        flex: auto;
        width: 100%;
        overflow: auto;
    }
}

.m-layout-content {
    overflow: auto;
}

.m-layout-main {
}
